* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.sticky {
	position: sticky;
	top: 0;
}

body {
	background-color: #000000;
}

.main_container {
	display: flex;
	width: full;
	max-width: 1440px;
	margin: 0 auto;
	flex-direction: column;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	border-bottom: 3px solid #454545;
	align-items: center;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.menu_contact {
	display: flex;
	flex-direction: column;
}

.nav-item {
	color: #000000;
	text-decoration: none;
	font-weight: 700;
	font-size: 19px;
	font-family: Rubik;
}

.nav-item1 {
	color: #000000;
	text-decoration: none;
	font-weight: 700;
	font-size: 19px;
	margin: 8px;
	font-family: Rubik;
}

.nav-item-active {
	transition: color 0.3s linear;
}

.nav-item-active:hover {
	color: #71b378;
}

.nav0-item0-active {
	transition: color 0.3s linear;
}

.nav0-item0-active:hover {
	color: #E03F38;
}

.nav2-item2 {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	font-size: 19px;
	font-family: Rubik;
}

.nav2-item2-active {
	transition: color 0.3s linear;
}

.nav2-item2-active:hover {
	color: #000000;
}

.btn {
	padding: 12px;
	font-size: 16px;
	background-color: #71b378;
	color: #000000;
	cursor: pointer;
}

.btn2 {
	padding: 12px;
	font-size: 16px;
	background-color: #E03F38;
	color: #000000;
	cursor: pointer;
}

.btn:hover {
	padding: 12px;
	font-size: 16px;
	background-color: #d4d4d4;
}

.btn2:hover {
	padding: 12px;
	font-size: 16px;
	background-color: #d4d4d4;
}

.chevron {
	margin-left:8px;
}

.slider-container {
	position: relative;
	width: 100%;
	max-height: 645px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	display: flex;
	transition: transform 0.5s ease;
	opacity: 0.9;
	height: 645px;
}

.slides:hover {
	opacity: 1;
}

.slide {
	min-width: 100%;
}

.slide img {
	background-size: cover;
	width: 100%;
	height: auto;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	cursor: pointer;
	z-index: 1;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border: none;
	outline: none;
}

.arrow.left {
	left: 0;
}

.arrow.right {
	right: 0;
}

.click {
	margin-top: 80px;
}

.text-overlay {
	/* display: flex; */
	/* flex-direction: column; */
	position: absolute;
	top: 120px;
	left: 146px;
	color: white;
	/* z-index: 1; */
	font-family: 'Advent Pro', sans-serif;
}

.text-overlay h2 {
	font-size: 130px;
}

.text-overlay h3 {
	font-size: 26px;
}

.text-overlay a {
	margin-top: 80px;
	color: #000000;
	font-family: Rubik;
	text-decoration: none;
	font-weight: bold 700;
}

.main_photo {
	width: 90px;
	margin-left: 125px;
}

.lkbttn {
	margin-right: 125px;
}

.lkbttn2 {
	margin-right: auto;
}

.photo_list {
	display: flex;
	background-color: #FFFFFF;
	width: 100%;
	height: 430px;
}

.photo_el {
	margin: 1rem;
	width: full;
}

.photo_el img {
	background-size: cover;
	width: 100%;
	max-height: 280px;
}

.photo_el a {
	z-index: 1;
	padding-top: -20px;
	display: block;
	color: #000000;
	font-family: Rubik;
	text-decoration: none;
	font-weight: bold;
}

.about {
	background-color: #d1d1d1;

	position: relative;
	width: 100%;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
}

.about_title {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 125px;
	right: 125px;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	font-size: 48px;
}

.about_black {
	display: flex;
	position: absolute;
	top: 125px;
	left: 125px;
	height: 650px;
	width: 775px;
	background-color: #454545;
	background-size: cover;
}

.about_black img {
	width: 100%;
	height: auto;
	background-size: cover;
}

.about_white {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 213px;
	right: 125px;
	height: 474px;
	width: 775px;
	background-color: #FFFFFF;
}

.about_white span {
	font-family: Rubik;
	font-size: 20px;
	margin: 48px;
	height: 300px;
}

.about_white a {
	color: #000000;
	font-family: Rubik;
	text-decoration: none;
	font-weight: bold;
	margin-left: 48px;
	display: flex;
	align-items: flex-end;
}

.buildings {
	display: flex;
	flex-wrap: wrap;
	height: 675px;
	justify-content: space-between;
	align-content: space-between;
	background-color: #ffffff;
	padding: 125px;
	/* height: 900px; */
	overflow: hidden;
	position: relative;
}

.building {
	position: relative;
	background-size: cover;
	width: 365px;
	height: 315px;
}

.class {
	border: 1px solid #99afbf93;
}

.buildings_btn {
	display: inline-block;
	padding: 12px;
	font-size: 16px;
	background-color: #71b378;
	color: #000000;
	margin-top: 75px;
	cursor: pointer;
}

.buildings_btn:hover {
	padding: 12px;
	font-size: 16px;
	background-color: #d4d4d4;
}

.building_img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.building_text {
	position: absolute;
	display: block;
	padding: 20px;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	opacity: 0;
	transition: 0.3s;
	height: 100%;
	width: 100%;
	background-color: #000000d6;
}

.building_text1 {
	color: #ffffff;
	font-family: Rubik;
	font-size: 30px;
}

.building_text2 {
	color: #ffffff;
	font-family: Rubik;
	font-size: 18px;
}

.building:hover .building_text {
	opacity: 1;
}





.price_title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.price {
	background-color: #d1d1d1;
	padding: 125px;
	height: 2000px;
	overflow: hidden;
	position: relative;
}

.price_container {
	display: flex;
    margin-top: -57px;
    align-items: center;
}

.price_list {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
	padding: 100px;
    /* top: 220px;
    left: 125px; */
    height: 257px;
    width: 316px;
    background-color: #FFFFFF;
	justify-content: space-between;
	font-family: Rubik;
    font-size: 25px;
    color: #000000;
	margin-right: -100px;
    z-index: 1;
}

.cost {
	text-decoration: underline;
}

.price_btn {
	display: inline-block;
	padding: 12px;
	font-size: 16px;
	background-color: #71b378;
	color: #000000;
	cursor: pointer;
	margin-top: 30px;
}

.price_box {
    /* display: flex;
    position: relative;
    /* top: 125px;
    right: 125px; */
    height: 650px;
    width: 775px;
    background-color: #454545;
    background-size: cover; */
}

.price_item {
    position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    padding: 65px;
	padding-left: 165px;
	/* top: 125px;
    right: 125px; */
    height: 520px;
    width: 545px;
    background-color: #454545;
    /* background-size: cover; */
}

.free_name {
	color: #ffffff;
	font-family: Rubik;
	font-size: 30px;
}

.free_training {
	color: #000000;
	font-family: Rubik;
	font-size: 18px;
}

.free_value {
	color: #ffffff;
	font-family: Rubik;
	font-size: 50px;
}

.free_block {
	display: flex;
    justify-content: space-between;
    align-items: center;
}








.application {
	background-color: #ffffff;
	padding: 125px;
	/* height: 900px; */
	overflow: hidden;
	position: relative;
}

.application_title {
	display: flex;
	flex-direction: column;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	font-size: 48px;

}

.application_input {
	display: flex;
	/* position: absolute; */
	margin-top: 50px;
	/* height: 550px; */
	width: 800px;
	padding: 50px;
	background-color: #d1d1d1;
	background-size: cover;

}

.application_foto {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 235px;
	right: 125px;
	height: 516px;
	width: 540px;
	background-color: #c2c2c2;
}

.form {
	width: 550px;
}

.write {
	font-family: Rubik;
	font-size: 25px;
	color: #000000;
	width: 100%;
}

.write_type {
	font-family: Rubik;
	font-size: 15px;
	width: 100%;
	height: 40px;
	padding-left: 15px;
	background-color: #ffffff;
	border: none;
	box-sizing: border-box;
}

.write_type::placeholder {
	color: #acacac;
}

.indent {
	margin-bottom: 27px;
	display: block;
	width: 100%;
}

.indent2 {
	margin-bottom: 9px;
	display: block;
}

.tren {
	display: flex;
	width: 100%;
}

.tren .indent {
	margin-bottom: 0;
}

.tren .indent:not(:last-child) {
	margin-right: 20px;
}

.application_btn {
	display: inline-block;
	padding: 12px;
	font-size: 16px;
	background-color: #71b378;
	color: #000000;
	height: 19px;
	margin-top: 455px;
	margin-right: 0px;
	margin-left: 50px;
	cursor: pointer;
}

.application_btn:hover {
	padding: 12px;
	font-size: 16px;
	background-color: #d4d4d4;
}

.footer {
	width: full;
	height: 250px;
	background-color: #454545;
	display: flex;
	padding: 50px;
	justify-content: space-between;
	font-family: Rubik;
}

.foot1 {
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 26px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: row;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 85px;
	justify-content: space-between;
}

.icons2 {
	color: black;
}

.rect {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	margin-right: 20px;
}

.foot {
	display: flex;
	flex-direction: column;
	color: white;
	line-height: 1.5;
	justify-content: space-around;
}

.nav3-item3 {
	color: #000000;
	text-decoration: none;
	font-weight: 700;
	font-size: 19px;
	font-family: Rubik;
}

.nav3-item3-active {
	transition: color 0.3s linear;
}

.nav3-item3-active:hover {
	color: #E03F38;
}

.mode {
	background-color: #E03F38;
	color: black;
	padding: 5px 10px 5px 10px;
	font-size: 24px
}

.mode2 {
	margin-top: 75px;
}

.nav4-item4 {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	font-size: 25px;
	font-family: Rubik;
}

.nav4-item4-active {
	transition: color 0.3s linear;
}

.nav4-item4-active:hover {
	color: #000000;
}

@media screen and (max-width: 1440px) {
	.nav-item {
		font-size: 16px;
	}
}

@media screen and (max-width: 1100px) {
	.lkbttn {
		margin-right: 0px;
	}

	.main_photo {
		width: 100px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 850px) {
	header {
		display: none;
	}
}